@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root{
    --primary: #69D1A2;
    --primay-forgend: #fff;
    --bg-page: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
    --bg-block: #fdfbfb;
    --border-color: #fdfbfb;
  }

  html[data-theme='dark'],
  .dark{
    --bg-page: linear-gradient(180deg, #434343 0%, #333333 100%);
    --bg-block: #434343;
    --border-color: #434343;
  }
}
